body {
    background: url('Imagem/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}
#principal{
    width: 900px;
    
}
#menu{
    background: #c5c5b2;
    padding: 18px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
#conteudo{
    background: white;
    padding: 10px
 }

 .centralizado{
    text-align: center;
 }

 h1{
    color: #828271;
    font-size: 1.2em;
 }

 .imgcampanha{
    border: 10px solid #c5c5b2;
 }